.container {
  max-width: fit-content!important;
}

.MixologyTitle h1 {
  font-size: 50px;
  font-family: var(--font-title);
  color: #fff;
  margin: 50px 0px;
  text-align: center;
}

.mixologyText {
  text-align: center;
  color: white;
}

.mixologyText h1 {
  font-size: 30px;
  letter-spacing: 1px;
  margin: 20px;
  font-family: var(--font-subtitle);
  color: #ff83ff;
}

.mixologyText h3 {
  font-size: 15px;
  letter-spacing: 1px;
  font-family: var(--font-title);
}

.mixologyText p {
  font-size: 17px;
  letter-spacing: 1px;
  font-family: var(--font-main);
  margin-top: 5px;
  color: #8f8f91
}
/*Color para el segundo parrafo*/

.MixologyImg {
  &:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
}

.stackUp {
  /* margin-top: 20px; */
  @media screen and (max-width: 570px){
    flex-direction: column-reverse !important;
  }
}
