/* ButtonEffect */
.container {
  max-width: fit-content!important;
}

.button-effect {
  background: linear-gradient(0deg, #000000d8, #27272700);
  border: 0;
  box-sizing: border-box;
  margin: 14px;
  padding: 14px 20px;
  box-shadow: inset 0 0 0 2px var(--color-light);
  color: var(--color-light);
  font-family: var(--font-main);
  font-size: inherit;
  font-weight: 500;
  position: relative;
  /* vertical-align: middle; */
  width: 147px;
  height: 76px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.button-effect a {
  color: var(--color-tertiary);
  text-decoration: none;
  
}


.draw {
  transition: color 0.25s;

&::before,
&::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
&::before {
  top: 0;
  left: 0;
}
&::after {
  bottom: 0;
  right: 0;
}

&:hover {
  color: cyan;
}
&:hover::before,
&:hover::after {
  width: 100%;
  height: 100%;
}

&:hover::before {
  border-top-color: cyan; 
  border-right-color: cyan;
  transition:
    width 0.25s ease-out, 
    height 0.25s ease-out 0.25s; 
}

&:hover::after {
  border-bottom-color: cyan; 
  border-left-color: cyan;
  transition:
    border-color 0s ease-out 0.5s, 
    width 0.25s ease-out 0.5s, 
    height 0.25s ease-out 0.75s; 
}
}

.meet {

&:hover {
  color: var(--color-main);
}

&::after {
  top: 0;
  left: 0;
}
&:hover::before {
  border-top-color: var(--color-main);
  border-right-color: var(--color-main);
}

&:hover::after {
  border-bottom-color: var(--color-main);
  border-left-color: var(--color-main);
  transition: 
    height 0.25s ease-out,
    width 0.25s ease-out 0.25s;
}

}

/* ButtonEffect2 */

.block {
  position: relative;
  margin: 2px 20px;
  width: 150px;
  height: 50px;
  border: none;
  text-decoration: none;
  background: linear-gradient( #000000, #000000);
}

.block:before, .block:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #F72798, #49108B, #00ff00,#EBF400, #F57D1F, #fb0094, 
    #7E30E1, #00ff00,#ffff00, #F57D1F);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(10px);
}