.LocationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 100vh;
  position: relative;
  z-index: 1;
  background: #0c0c0c;
}

.MapsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 300px;
  height: 100vh;
  position: relative;
  z-index: 1;
  background: #0c0c0c;
}

.MapResponsive {
  overflow: hidden;
  /* margin-top: 90px; */
  padding-top: 10%;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

h3 {
  display: block;
  color: #fff!important;
  font-size: 135px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

iframe {
  position: flex;

  @media screen and (max-width: 850px){
    transition: 3s all ease;
    width: 450px;
    height: 350px;
  }

  /* @media screen and (max-width: 585px){
    transition: 3s all ease;
    width: 300px;
    height: 200px;
  } */
}
