.CalFormContainer {
  margin: 50px 0px;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.CalFormContainer h1 {
  margin-bottom: 17px;
  font-size: 2.9rem;
  color: #fff;
  text-align: center;
  font-family: var(--font-title);
}

.CalFormContainer p {
  margin-bottom: 17px;
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
  font-family: var(--font-title);
}

.form-label {
  color: #fff;
  font-size: 1rem;
}

.formCal {
  max-width: 60%;
  margin: auto;
}

#option {
  margin: 60px 50px;
}

.form-control {
  padding: 10px;
}