.CalFormContainer {
  margin: 50px 0px;

  /* @media screen and (max-width: 555px){
    margin: 50px 0px;
    height: 400px;
  } */
}

.CalFormContainer h1 {
  margin-bottom: 17px;
  font-size: 2.9rem;
  color: #fff;
  text-align: center;
  font-family: var(--font-title);

  @media screen and (max-width: 750px){
    font-size: 1.5rem;
  }
}

.CalFormContainer p {
  margin-bottom: 17px;
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
  font-family: var(--font-title);

  @media screen and (max-width: 750px){
    font-size: .75rem;
  }
}

.form-label {
  color: #fff;
  font-size: 1rem;

  @media screen and (max-width: 750px){
    font-size: .75rem;
  }
}

.formCal {
  max-width: 60%;
  margin: auto;
}

#option {
  margin: 60px 50px;
}

.form-select {
  padding: 10px;

  @media screen and (max-width: 750px){
    padding: 0.1rem 0rem 0.1rem 0.7rem !important;
    font-size: .75rem !important;
    font-weight: 400;
    line-height: 1.5rem !important;
    
  }
}