.CardSliderContainer {
  background-color: rgb(0, 0, 0);
  border: 50px solid #000;
}

.CardSliderTitle {
  background-color: transparent;
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  /* margin-bottom: 64px; */
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;

  @media screen and (max-width: 768px) {
    font-size: 25px;
    
  }
}

.CardSliderExtra {
  justify-content: center;
  align-items: center;
  display: grid!important;
  /* padding: 0 50px;   */

  &:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
}

.img {
  display: flex;
  width: 270px;
  height: 270px;
  border-radius: 20px;
  transition: 0.3s;
  /* padding: 0px 10px; */
}

.title {
  margin-top: 2px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  /* background-color: #19131d7a; */
  border-radius: 20px;
  padding: 5px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.description {
  font-size: 18px;
  color: #fff;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.BtnWrap1 {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

