.Nav {
  background: transparent;
  height: 80px;
  margin-top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;

  @media screen and (max-width: 960px) {
    transition: 0.8s all ease;
  }
}

.ScrollNav {
  background: #000000d5;
}

.NavbarContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  position: sticky;
}

.NavLogo , .LogoLink {
  justify-self: flex-start;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  padding: .5rem 1rem;
}

.MobileIcon {
  display: none;

  @media screen and (max-width: 1060px) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }
}

.NavMenu {
  padding-left: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;

  @media screen and (max-width: 1060px) {
    display: none;
  }
}

.NavItem {
  height: 80px;
}

.NavLinks {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1.2rem;
  height: 100%;
  cursor: pointer;
  font-size: 15PX;
  font-family: var(--font-subtitle);
  font-weight: 200;
  font-style: normal;

  &:hover,
  &.active{
    border-bottom: solid 1px #EB34DF;
  }
}

.NavBtn {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1060px) {
    display: none;
  }
}

.NavBtnLink {
  border-radius: 15px;
  background: #EB34DF;
  white-space: nowrap;
  padding: 10px 22px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 15px;
  font-family: var(--font-subtitle);
  font-weight: 500;
  font-style: normal;

  &:hover {
    transition: all 0.2s ease-in-out;
    background: #f53127;
    color: #94ef71;
  }
}

.NavBtnLink2 {
  font-family: var(--font-subtitle);
  font-size: 15px;
  text-decoration: none;
  color: #fff;
}