.container {
  max-width: fit-content!important;
}

.galleryTitle h1 {
  font-size: 50px;
  font-family: "Cormorant Garamond", serif;
  color: #fff;
  margin: 50px 0px;
  text-align: center;
}

.layer-1 {
  text-align: center;
  color: white;
}

.layer-1 h1 {
  font-size: 30px;
  letter-spacing: 1px;
  margin: 20px;
  font-family: "Cormorant Garamond", serif;
  color: #B983FF;
}

.layer-1 p {
  font-size: 17px;
  letter-spacing: 1px;
}
/*Color para el segundo parrafo*/
.Inria {
  margin-top: -10px;
  color: #8f8f91
}

.galleryImg {
  &:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
}

.stackUp {
  /* margin-top: 20px; */
  @media screen and (max-width: 570px){
    flex-direction: column-reverse !important;
  }
}
