.CrearCalavera {
  display: block;
  columns: 2;
}

.main {
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 100px 0px 0px 0px;
    background-image: url(/images/background-calavera.png);
    background-size: cover;
    position: relative;

    @media screen and (max-width: 750px) {
      height: 160vh;
    }

    /* @media screen and (max-width: 550px) {
      height: 120vh;
    } */

    /* @media screen and (max-width: 430px) {
      height: 160vh;
    } */
}

.imgCol {
  padding: 0px 0px 0px 0px !important;
  max-height: 500px;

  @media screen and (max-width: 750px) {
    display: none;
  }
  
}

.formCol {
  padding: 0px 0px 0px 0px !important;
  max-height: 500px;
  display: inline-table;
}

.rowcontainer2 {
  height: 350px;
}

.imgCol2 {
  padding: 0px 0px 0px 0px !important;
  max-height: 500px;
  display: none;

  @media screen and (max-width: 750px) {
    display: contents;
  }

}

.calaveraBtn {
  display: block;
}

.BtnContainer {
  display: flex;
}