.CrearCalavera {
  display: block;
  columns: 2;
}

.main {
    justify-content: center;
    align-items: center;
    height: 110vh;
    padding: 100px 0px 0px 0px;
    background-image: url(/images/background-calavera.png);
    background-size: cover;
    position: relative;

    @media screen and (max-width: 750px) {
        height: 80vh;
    }
}

.imgCol {
  padding: 0px 0px 0px 0px !important;
  max-height: 500px;
}

.formCol {
  padding: 0px 0px 0px 0px !important;
  max-height: 500px;
}