
.SidebarContainer {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #0d0d0de1;
  backdrop-filter: blur(10px);
  display: grid;
  height: 100vh;
  align-items: center;
  top: 0;
  right: 0;
  transition: 0.3s ease-in-out;

  /* @media screen and (max-width: 768px) {
    width: 100%;
    }

    @media screen and (min-width: 768px) {
      width: 350px;
    } */
}

.containerclosed {
  opacity: 0;
  top: -100%;
}

.CloseIcon {
  color: #fff;
}

.Icon {
  position: fixed;
  top: 1.2rem;
  right: 1.5rem;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}

.SidebarWrapper {
  color: #fff;
}

.SidebarMenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 70px);
  text-align: center;
  justify-content: center;
  padding-left: 0px;
  margin-bottom: 0px;
}

.SidebarLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  color: #fff;
  cursor: pointer;

  &:hover {
    color: #EB34DF;
    transition: 0.2s ease-in-out;
  }
}

.SideBtnWrap {
  display: flex;
  justify-content: center;
  
}

.SidebarRoute {
  border-radius: 50px;
  background: #EB34DF;
  white-space: nowrap;
  padding: 16px 40px;
  color: #fff;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-family: var(--font-title);

  &:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606;
  }
}

.SidebarLink a{
  text-decoration: none;
  color: #fff;
}
