.InfoContainer {
  background: linear-gradient(
    0deg,
    rgba(36, 35, 36, 0.699) 100%,
    rgba(204, 204, 204, 0.171) 100%
  );
  
}

.lightBg {
  background-image: url('/images/background.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blackBg {
  background: #010606;
  /* color: #fff; */
  @media screen and (max-width: 768px) {
    padding: 100px 0;
  }
}

.headingLight {
  text-align: center;
  margin-bottom: 24px;
  font-size: 58px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;

  @media screen and (max-width: 480px) {
    font-size: 32px;
  }
}

.headingDark {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #010606;

  @media screen and (max-width: 480px) {
    font-size: 32px;
  }
}

.textLight {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.textDark {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
  color: #010606;
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.InfoWrapper {
  display: grid;
  width: 100%;
  min-height: 860px;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 67px 5px;
}

.InfoRow1 {
  display: grid;
  grid-auto-columns: minmax(auto, 1fr);
  align-items: center;
  grid-template-areas: 'col2 col1';

  @media screen and (max-width: 768px) {
    grid-template-areas: 'col1 col1' 'col2 col2';
  }
}

.InfoRow2 {
  display: grid;
  grid-auto-columns: minmax(auto, 1fr);
  align-items: center;
  grid-template-areas: 'col1 col2';

  @media screen and (max-width: 768px) {
    grid-template-areas: 'col1 col1' 'col2 col2';
  }
}

.Column1 {
  /* margin-bottom: 15px; */
  /* padding: 0 15px; */
  grid-area: col1;
  text-align: -webkit-center;
}

.Column2 {
  margin-bottom: 15px;
  padding: 0 15px;
  grid-area: col2;
}

.TextWrapper {
  max-width: 540px;
  padding-top: 20px;
  padding-bottom: 60px;

  @media screen and (max-width: 768px) {
    padding-top: 0%;
    padding-bottom: 0%;
  }
}

.TopLine {
  color: #B983FF;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.BtnWrap {
  display: flex;
  justify-content: center;
}

/* .ImgWrap {
  max-width: 555px;
  height: 100%;
} */

.infoImg {
  border-radius: 20px;
  height: auto;
  width: 100%;
  /* margin: auto; */
  /* margin: 0 0 30px 0; */
  padding-right: 0;
  max-height: 700px;

  @media screen and (max-width: 768px) {
    width: -webkit-fill-available;
    margin-top: 15px;
    padding: 0%;
    /* width: 400px; */
    /* height: 400px; */
    
  }
}