
.calavera-img {
  width: 550px;
  height: 550px;
  margin: 130px 0px;
  position: absolute;
  z-index: 1;

  @media screen and (max-width: 1200px){
      width: 450px;
      height: 450px;
  } 

  @media screen and (max-width: 950px){
      width: 350px;
      height: 350px;
  }

  @media screen and (max-width: 750px){
    margin: 110px;
  }

  @media screen and (max-width: 556px){
      width: 260px;
      height: 260px;
      margin: 60px;
      /* right: 16vw; */
  }

  @media screen and (max-width: 400px){
      width: 200px;
      height: 200px;
      margin: 40px;
      /* right: 16vw; */
  }
}

/* .img-box {
  box-sizing: content-box;
  position: relative;
  display: flex;
  button {
    width: 100%;
  }
} */

/* .imgDisplayContainer {
  width: 600px;
  height: 600px;
} */