.img-box {
  box-sizing: content-box;
  justify-content: center;

  button {
  width: 100%;
}

.calavera-img {
  width: 550px;
  height: 550px;
  margin: 50px 0px;
  position: absolute;
  z-index: 1;

  @media screen and (max-width: 1305px){
      width: 350px;
      height: 350px;
  } 

  @media screen and (max-width: 750px){
      width: 250px;
      height: 250px;
  }

  @media screen and (max-width: 556px){
      width: 160px;
      height: 160px;
  }
}
}

.imgDisplayContainer {
  width: 600px;
  height: 600px;
}

.row {
  margin: 90px 0px;
}



@media screen and (max-width: 750px){
  .calavera-img {
    width: 250px;
    height: 250px;
  }
}